<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" closeTimeout="00:05:00"
                    openTimeout="00:05:00" sendTimeout="00:05:00" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="BasicHttpBinding_IService2" closeTimeout="00:05:00"
                    openTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="basicHttp" closeTimeout="00:05:00" openTimeout="00:05:00"
                    sendTimeout="00:05:00" allowCookies="true" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="http://localhost:49849/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:49849/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="ServiceReference1.IService2"
                name="BasicHttpBinding_IService2" />
        </client>
    </system.serviceModel>
</configuration>